* {
  box-sizing: border-box;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  justify-content: space-between;
  margin: 0;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

.banner {
  width: 100%;
}

main {
  border: 1px solid black;
}

.left-arrow {
  border-bottom: 10px solid #f6f6f6;
  border-right: 20px solid #77c;
  border-top: 10px solid #f6f6f6;
  font-size: 0;
  line-height: 0%;
  width: 0;
}

.right-arrow {
  border-bottom: 10px solid #f6f6f6;
  border-left: 20px solid #77c;
  border-top: 10px solid #f6f6f6;
  font-size: 0;
  line-height: 0%;
  width: 0;
}

.across {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.line {
  border-bottom: 2px green solid;
  transform: translateY(-43%);
  width: 100%;
}

p {
  font-size: 1.1rem;
  padding: 10px;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

footer {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  font-size: 1.2rem;
  height: 7vh;
  justify-content: center;
  min-height: 50px;
  padding: 10px;
  width: 100%;
}
