* {
  box-sizing: border-box;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  justify-content: space-between;
  margin: 0;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

.banner {
  width: 100%;
}

main {
  border: 1px solid black;
}

p {
  font-size: 1.1rem;
  padding: 10px;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

footer {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  font-size: 1.3rem;
  height: 7vh;
  justify-content: center;
  min-height: 50px;
  padding: 10px;
  width: 100%;
}